{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template gradingform_rubric/rubric

    Template to render a list of posts for a discussion.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Example context (json):
    {
    }
}}
<h6>New rubric below</h6>
<div class="gradingform_rubric-description"></div>
<div id="rubric-advancedgrading-{{uniqid}}" class="{{rubric-classes}}">
    <table class="criteria table table-striped" id="advancedgrading-criteria" aria-label="{{#str}}rubric, gradingform_rubric{{/str}}">
        {{#criteria}}
            <tr class="criterion {{#first}}first{{/first}}" id="{{criteria-id}}">
                {{#criterion}}
                    {{> gradingform_rubric/levels }}
                {{/criterion}}
            </tr>
        {{/criteria}}
    </table>
</div>

{{#js}}
    require(['gradingform_rubric/rubric'], function(Rubric) {
        Rubric.init("rubric-advancedgrading");
    });
{{/js}}
